.categories_container {
  max-width: var(--max-width);
  margin: auto;
  padding: 8rem 5rem;
}
.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
}

body {
  background-color: #e8f3b8;
  font-family: Helvetica, sans-serif;
  color: #36391c;
  margin: 0;
  height: 100vh;
}

article {
  padding: 10px;
  background-color: white;
  margin: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* evt indsæt mere style pænere udseende på site*/
}

article img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

article a {
  color: #36391c;
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* (auto-fill, minmax(200px, 1fr)); */
  gap: 20px;
  margin-top: 150px;
}

/* .center-container {
    max-width: 800px;
} */

@media screen and (min-width: 900px) {
  main {
    grid-template-columns: repeat(4, 1fr); /* Switch to 4 columns on larger screens */
  }
}
