@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto:wght@400;500&family=Sedgwick+Ave+Display&display=swap");

:root {
  --primary-color: #47564c;
  --primary-color-dark: #1f2d24;
  --text-light: #f3f4f6;
  --text-grey: #6b7280;
  --text-dark: #030712;
  --text-green: #1f2d24;
  --button-color: #1f2d24;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* NAVIGATION */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 10%;
}

nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  margin-left: 600px;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-dark);
  font-size: 1.2rem;
  font-weight: 500;
  transition: 0.3s;
}

nav ul li a:hover {
  color: var(--primary-color-dark);
}

.signin_nav {
  text-decoration: none;
  display: inline-block;
  padding: 11px 26px;
  background: transparent;
  color: var(--primary-color-dark);
  border: 2px solid var(--primary-color-dark);
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.55s ease;
}
/* FOOTER */

.footer__bar {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.copyright {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-light);
}

.footer__form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__form form {
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
}

.footer__form input {
  width: 100%;
  padding: 0.75rem 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--primary-color-dark);
  font-size: 0.8rem;
}

.footer__form .btn {
  background-color: var(--primary-color-dark);
  color: var(--text-light);
}
.btn {
  padding: 0.75rem 2rem;
  font-size: 0.8rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 20px;
}

@media (max-width: 800px) {
  .copyright {
    font-size: 0.5rem;
  }

  .footer__bar {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;

    gap: 2rem;
  }
}
